:root {
  --bg-color: #fcfcfc;
  --title-color: #3b3b3b;
  --azure: #1797ff;
  --tab-color: #606060;
  --tab-border: #d6d6d6;
  --dropdown-color: #343434;
  --dropdown-border-color: #d6d6d6;
  --dropdown-item-bg: #eaeaea;
  --post-card-border-color: #979797;
  --post-card-favorite-bg-color: #f5f5f5;
  --post-card-title-color: #6b6b6b;
}

.App {
  padding: 0 0 98px;
}

.header {
  margin: 0 0 70px;
  padding: 44px 70px 42px 70px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.header .header__title {
  font-family: Baskerville;
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  margin: 0;
  letter-spacing: normal;
  color: var(--title-color);
}

.tab-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
}

.tab-selector__container {
  display: flex;
  flex-direction: row;
}

.tab-selector__container a:nth-child(odd) .tab-selector__tab {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.tab-selector__container a:nth-child(even) .tab-selector__tab {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.tab-selector__tab:visited, .tab-selector__tab {
  color: var(--tab-color);
}

.tab-selector__tab--selected {
  border: solid 1px var(--azure)!important;
  color: var(--azure);
}

.tab-selector a {
  text-decoration: none;
}

.tab-selector .tab-selector__tab {
  font-family: Roboto, arial;
  width: 98px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  border: solid 1px var(--dropdown-border-color);
}

.post-box {
  margin: auto;
  width: 80vw;
}

.post-card {
  padding: 0 0 0 26px;
  border-radius: 6px;
  border: solid 1px #979797;
  max-width: -webkit-fill-available;
  background-color: #fff;
  flex: 0 0 calc(50% - 40px);
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  cursor: pointer;
  transition:.3s;
}

.post-card__content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  text-decoration:none;
}

.post-card:hover {
  opacity: 0.5;
  transition:.3s;
}

.post-card__story-title {
  font-family: Roboto;
  overflow: hidden;
  padding-right: 8px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: var(--post-card-title-color);
  margin: 0 0 14px 0;
}
.post-card__favorite {
  display: flex;
  background-color: #606060;
  padding: 0 22px;
  vertical-align: middle;
  background: rgba(96,96,96, 0.06);
}
.post-card__favorite img {
  height: 24px;
  width: 24px;
  margin: auto;
}
.post-card__date {
  display: flex;
  margin-top: 14px;
}

.date-checker__legend {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
  margin-left: 8px;
}

.dropdown {
  margin-bottom: 38px;
}

.dropdown__list {
  width: inherit;
  position: absolute;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background: white;
  z-index: 9;
}

.dropdown__header {
  border: solid 1px #2e2e2e;
  display: flex;
  background: white;
  cursor: pointer;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  border-radius: 6px;
}

.dropdown__arrow {
  margin: 0 14px;
}

.dropdown__text {
  font-family: roboto;
  font-weight: 400;
  display: block;
  padding: 12px;
  margin: 0px;
}

.option-box {
  padding: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
}

.dropdown__content:nth-child(even) .option-box {
  background: #fbfbfb;
}

.option-box .dropdown__text {
  margin-left: 12px;
}

.option-box .option-box__image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.container {
  width: 90vw;
  margin: auto;
}

.infinite-scroll-component,.infinite-scroll-component__outerdiv {
  width: 100%;
}

.infinite-scroll-component {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width:768px) {
  .infinite-scroll-component {
    flex-direction: row;
  }
  .container {
    width: 100%;
    margin: 150px;
  }
  .posts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  } 
  .dropdown {
    width: 280px;
  }
}
